<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>THE MAGIC CONCH SHELL</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="nav-top">
    </div>
  </div>
  <div id="content">
    <div class="left-col">
      <div id="welcome">
        {% if first %}
	<h1>IT KNOWS ALL!!!</h1>
	<br>
	  <h2>What is it you wish to know?</h2>
    
    {% else %}
    <h1>THE CONCH Says   {{answer}}   is the answer to "{{question}}"</h1>
    <br>
    <h2>Ask the Magic Conch another question</h2>
    {% endif %}
    
    <form action="/question" method="get">
      <input type="text" name="question">
      <input type="submit" name="Ask" value="Ask">
    </form>
      </div>
    </div>
    <div class="clear"> </div>
    
  <div class="clear" id="footc"> </div>
 
</div>
</body>
</html>
